body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff8f3;
}
span {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}
.button {
  background-color: #fd6e0a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
header {
  background-image: url("images/header_bg.png"), url("images/developer.png");
  background-position: bottom right, left;
  background-repeat: no-repeat;
}
.headerSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}
.textDiv {
  /* width: 50%; */
  padding-left: 50px;
}
.name {
  font-size: 85px;
  font-weight: 700;
}
.imgDiv {
  /* width: 50%; */
}
#man {
  /* width: 1036px;
  height: 518px; */
}

/* nav ul {
  display: flex;
  gap: 30px;
}
nav li {
  list-style: none;
  padding: 5px;
}

nav li a:hover {
  color: red;
}
nav li a {
  text-decoration: none;
}

nav li .nested {
  display: none;
}

nav li:hover > .nested {
  display: block;
  background-color: aliceblue;
  padding-left: 5px;

  position: absolute;
} */
